.App {
  background-color: #2f3135;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.main-page{
  margin-top: 100px;
  box-shadow: 30px 15px 15px rgba(29, 29, 31, 0.4);
  width: 75%;
}
